/target/test-classes/org/java/training/autumn/AppTest.class
/target/classes/org/java/training/autumn/Controller.class
/target/classes/org/java/training/autumn/Main.class
/target/classes/org/java/training/autumn/Model.class
/target/classes/org/java/training/autumn/Statistics.class
/target/classes/org/java/training/autumn/View$MainMenu.class
/target/classes/org/java/training/autumn/View.class
